.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(180, 180, 245);
    width: 30%;
    padding: 5%;
    border: solid 1px black;

}

button{
    padding: 0.5rem;
    margin: 1rem;
    color: white;
    background-color: rgb(61, 110, 255);
    border: none;
    border-radius: 10px;
    width: 40%;
}

button:hover{
    background-color: rgb(0, 64, 255);

}

h1{
    border: solid 1px black;
    padding: 1rem;
}